body {
    margin: 0;
    padding: 0;
    background-image: url("https://thumbs.gfycat.com/ScarceAdolescentDevilfish-size_restricted.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1600px 810px;
    background-color: black;
}

/* top navbar */
.topnavbar {
    position: fixed;
    width: 100%;
}

nav{
    width: 100%;
    background: black;
    overflow: auto;
}

li {
    float: left;
    padding: 0;
    margin: 0 0 0 50px;
    list-style: none;
    color: #07D4EE;
}
.logo img {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
}
marquee {
    position: absolute;
}
nav a {
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    text-align: center;
}
nav a:hover {
    background:#FD0101;
    transition: 0.5s;
}

/* dashboard table */
table {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    text-align: center;
}
body {
    height: 100%;
    width: 100%;
}

tr {
    background-color: rgba(255, 255, 255, 0.962);
}
th {
    background-color: #07d3ee;

    font-size: small;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
}
p {

    text-emphasis: none;
}

.gradeNA {
    background-color: #d32c2c;
}

.gradeSufficient {
    background-color: chartreuse;
}

.toBeDetermined {
    background-color: rgb(170, 170, 170);
}

/* page contents */
h1 {

    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
h2 {

    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h3{

    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/*textbox*/
.modal {
    background-color: #e3df01e1;
    border-style:ridge;
    border-radius: 3px;
    border-color: #000;
    color: #333;
    font-family: sans-serif;

    max-width: 50%;
    width: 80%;

    padding: 10px;
    padding-left: 40px;
}

/*progress bar*/
.progress {
    background-color: white;
    width: 80%;
    border-radius: 15px;

}

.skill {
    background-color: rgb(210, 6, 6);
    color: black;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}

.html {
    width: 0%;
}

/*sidebar*/
.sidenav {
    height: 100%;
    width: 130px;
    position: absolute;
    background-color: #07d3eee4;
    right: 0px;
    padding: 20px;
    float: top;
    text-align: center;
    top: 55px;
    position: fixed;
    border-style:ridge;
    border-color: #000;
}

/*collapsable items*/
summary {
    display: flex;
    cursor: pointer;
    background-color: #07d3eee4;

    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: 550;
    padding: 12px;
    margin-top: 20px;
    border-style: ridge;
    border-color: black;
}

/*Functions cdpr artikel*/
button, input, optgroup, select, textarea {
    background-color: #07d3ee;
}
.popup {
    position: fixed;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
.popup .popuptext {
    visibility: hidden;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolut;
    z-index: 1;
    bottom: 250%;
    left: 50%;
    margin-left: 80px;
    border:black 1px solid;
    width: 250px;
  }

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  /* Add animation (fade in the popup) */

.popup .hide {
    animation: fadeOut ease 3s;
    -webkit-animation: fadeOut ease 3s;
    -moz-animation: fadeOut ease 3s;
    -o-animation: fadeOut ease 3s;
    -ms-animation: fadeOut ease 3s;
    animation-fill-mode: forwards;
}
 @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  @keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
